<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col  size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">

          <ion-card-title>
            Baño
          </ion-card-title>
          <ion-card-content>
            <ion-icon name="man" class="man"></ion-icon>          </ion-card-content>
        </ion-card>


      </ion-col>


      <ion-col size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">
          <ion-card-title> Biblioteca</ion-card-title>
          <ion-card-content>


<ion-icon name="library-outline" class="library"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">

          <ion-card-title> Cocina</ion-card-title>
          <ion-card-content>

          
          

<ion-icon name="fast-food-outline" class="cocina"></ion-icon>          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">

          <ion-card-title>Dormitorio </ion-card-title>
          <ion-card-content>
           
<ion-icon name="bed-outline" class="dormy"></ion-icon>
</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">
          <ion-card-title>Patio </ion-card-title>
          <ion-card-content>
            
<ion-icon name="leaf-outline" class="patio"></ion-icon>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  size-sm="6" size-md="6" size-lg="6" size-xl="6">
        <ion-card class="custom-card">

          <ion-card-title>Sala</ion-card-title>
          <ion-card-content>

<ion-icon name="business-outline" class="sala"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
